@import 'vars';

.main {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}
.merger {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 90%;
   height: 90%;
   border: 3px solid $gray;
   border-radius: 30px;
}
.fileList {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 90%;
   height: 50%;
   gap: 20px;
}
.fileContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.file {
   width: $fileSize;
   height: $fileSize;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
   border: 1px solid $gray;
   border-radius: 5px;
   word-break: break-all;
   background: #fff;
   user-select: none;
}
.react-draggable-dragging {
   box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.37);
   z-index: 999;
}
.form {
   display: flex;
   gap: 10px;
}
.saveBtn {
   display: flex;
   align-items: center;
   gap: 10px;
}
